/*header style*/

head .banner-1{
  justify-content: space-between;
}
/*font*/
.font{
  text-align: center;

  



}

.nav-title{
    color:#4E47FF ;
    
}





/*button*/
.btn {
   background-color: #4E47FF;
   border: none;
   border-radius: 5px;
   padding: 12px 32px;
   
   
}

/*banner style*/
 
.banner{

  text-align: center;

 }
 
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-variation-settings: 65px;
  font-size: 65px;
  font-weight:bold;
  font-style: normal;
  padding: 60px 220px;
}
nav{
  display: flex;
  justify-content: space-between;
  gap: 50px 150px;
  margin: 50px 150px;
}

.tiktok-sans-title {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100;
    color: #4E47FF;
    padding: 50px 150px;
    font-size: 34px;
}
/*section*/
.section{
  display: flex;
  margin: 116px 159px 116px 141px;
  justify-content: space-between;
  gap: auto;
}
.section-sub-title{
  font-size: 16px;
  color: rgb(99, 97, 97);
}
.section-title{
  padding: 10px 550px 62.5px 0px;
}
.section-2{
  text-align: center;
  font-size: 38px;
  font-weight: bold;

}
.section-style-2{
  display: flex;
  text-align: center;
  gap: 158px;
  padding: 0px 100px 50px 300px;
  color: #4E47FF;
}
.sub-title-2{
  font-size: 20px;
  color: rgb(110, 108, 108);
}
/*skill style*/
.skills{

  border: 10px;
}
.skill-description{
  color: rgb(209, 204, 204);
  font-size: smaller;
  padding: 5px 10px;

}
.skill-sub-title{
  padding: 5px 6px;

}
.skill{
  display: flex;
  margin: 0px 149px;
  
 
  justify-content: space-around;
  padding: 5px;
  gap: 0px;
  
}
.skill-title{
  border: 1px black;
  box-shadow: 0px 5px 10px 0px rgb(44, 43, 43);
  padding: 5px 6px;
}
/*avater style*/
.avater{
  text-align: right;
  color: rgb(207, 201, 201);
}
.date{
  text-align: right;
  align-items: center;
  color: rgb(197, 193, 193);
}