/*header style*/

head .banner-1{
  justify-content: space-between;
}
/*font*/
.font{
  text-align: center;

  



}

.nav-title{
    color:#4E47FF ;
    
}





/*button*/
.btn {
   background-color: #4E47FF;
   border: none;
   border-radius: 5px;
   padding: 12px 32px;
   
   
}

/*banner style*/
 
.banner{

  text-align: center;

 }
 
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-variation-settings: 65px;
  font-size: 65px;
  font-weight:bold;
  font-style: normal;
  padding: 60px 220px;
}
nav{
  display: flex;
  justify-content: space-between;
  gap: 50px 150px;
  margin: 50px 150px;
}

.tiktok-sans-title {
  font-family: "TikTok Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100;
    color: #4E47FF;
    padding: 50px 150px;
    font-size: 34px;
}
/*section*/
.section{
  display: flex;
  margin: 116px 159px 116px 141px;
  justify-content: space-between;
  gap: auto;
}
.section-para{
  font-size: 16px;
  color: rgb(99, 97, 97);
}
.section-title{
  padding: 10px 550px 62.5px 0px;
}